WEB_SERVICE_NAME=fm_auth_service

# База данных
DB_HOST="db"
DB_PORT=5432
DB_USER="postgres"
DB_DATABASE="fm_auth_service"
DB_PASSWORD="password"
DB_ECHO=0

# Ключи подписи JWT (PEM). В docker-окружении монтируются как secrets в /run/secrets
PRIVATE_KEY_PATH="/run/secrets/jwt_private_key"
PUBLIC_KEY_PATH="/run/secrets/jwt_public_key"
